---
// component import
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import { Picture } from "astro:assets";
import headshot from "../assets/headshot.jpg";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 2, 
});

const title = "Dave Long Web Studio"
---

<MainLayout title={title}>
  <section>
    <h1 class="text-center text-4xl my-14">{title}</h1>
    <div class="mx-4">
      <Picture
        src={headshot}
        alt="Headshot"
        class="mb-10 rounded-md mx-auto"
        width={headshot.width / 3}
        densities={[1, 1.5, 2]}
        formats={["webp", "avif", "jpg"]}
      />
    </div>
    <div>
      <p class="text-xl px-10 mb-10 max-w-3xl mx-auto">
        Welcome to Dave Long Web Studio - A new web design and development business located in the Hudson Valley in New York.  I'm Dave Long, and I'm the founder and owner.  I'd be happy to work with you if you need a web site built or if you need some work done on your existing site.  I'm open to projects such as site performance and SEO optomization, web site design and layout, and copywriting and content generation.
      </p>
      <p class="text-xl px-10 mb-10 max-w-3xl mx-auto">This site is currently under construction and subject to change in the future.  Keep an eye out for upcoming features and updates!</p>
      <div class="my-10 text-center">
        <a 
          class="py-1.5 px-2 my-8 border rounded-md bg-slate-400 self-center" 
          href="/about/"
        >Learn More
        <a/>
      </div>
    </div>
  </section>
  <hr />
  <section>
    <h2 class="text-3xl py-3 my-5 border-box text-center">New Blog Posts</h2>
    <div class="max-w-3xl mx-auto px-4">
      <div class="grid">
        {
          formattedPosts.map((post) => (
            <PostCard
              frontmatter={post.frontmatter}
              url={post.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</MainLayout>
